<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--mybatis日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <!--配置数据源，交给spring-->
    <typeAliases>
        <package name="com.otsbcs.pojo"/>
    </typeAliases>


    <mappers>
        <mapper resource="com/otsbcs/dao/ClientMapper.xml"/>
        <mapper resource="com/otsbcs/dao/AdminMapper.xml"/>
        <mapper resource="com/otsbcs/dao/TutorMapper.xml"/>
        <mapper resource="com/otsbcs/dao/CourseMapper.xml"/>
        <mapper resource="com/otsbcs/dao/AppointmentMapper.xml"/>
        <mapper resource="com/otsbcs/dao/ApplicantMapper.xml"/>
        <mapper resource="com/otsbcs/dao/FeedbackMapper.xml"/>



    </mappers>



</configuration>